@import "../css/normalize.css";
@import "./vars.scss";
@import "./typography.scss";
@import "../../node_modules/@glidejs/glide/dist/css/glide.core.min.css";
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

.navigation {
    padding: 1% 0;
}
.header {
    position: relative;
    &::after{
        content: "";
        left: 0; 
        right: 0; 
        bottom: -16px;
        margin-left: auto; 
        margin-right: auto; 
        position: absolute;
        display: inline-block;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background-color: $red;
    }
}
.header-section {
    text-align: center;
    position: relative;
    background-color: $dark-blue;
    padding: 40px 0;
}

.slider-controls {
    .arrow {
        position: absolute;
        display: inline-block;
        width: 2.8rem;
        height: 2.8rem;
        border-radius: 50%;
        bottom: 42.5%;
        &::after {
            content: '';
            display: inline-block;
            width: 1em;
            height: 1em;
            border-top: 1px solid $blue;
            border-right: 1px solid $blue;
        }
        &:hover{
            background-color: rgba(255, 255, 255, 0.05);
        }
    }
    .left {
        left: -6%;
        &::after{
            margin-top: .85em;
            margin-left: 0.3em;
            transform: rotate(-135deg);
        }
        @media screen and (max-width: 1024px) {
            left: -10%;
          }
      }
      .right {
        right: -6%;
        &::after{
            margin-top: .85em;
            margin-right: .3em;
            transform: rotate(45deg);
        }
        @media screen and (max-width: 1024px) {
            right: -10%;
          }
      }
}
.slider__block {
    background-color: #fff;
    width: 332px;
    min-height: 228px;
    padding: 0px 10px;
    @media screen and (max-width: 1024px) {
        width: auto;
        margin-bottom: 25px;
      }
      p {
        padding: 5px 10px;
      }
}
.slider__block__icon {
    img{
        display: block;
        width: 42px;
        margin: 0 auto;
    }
}

.section{
    text-align: center;
    background-color: $light-blue;
    padding: 40px 0;
    h2 {
        margin: 0;
    }
}
.flex {
    display: flex;
    align-items: center;
    justify-content: center;
    .flex-block {
        flex: 1;
        background-color: #fff;
        margin: 0 10px;
        @media screen and (max-width: 1024px) {
           overflow: hidden;
           margin: 10px;
        }
        @media screen and (max-width: 1400px) {
            min-height: 270px;
         }
    }
    @media screen and (max-width: 1024px) {
        display: block;
      }
}
.header-container {
    width: 60%;
    margin: 0 auto;
    @media screen and (max-width: 1024px) {
        width: 80%;
      }
}
.container {
    width: 55%;
    margin: 0 auto;
    @media screen and (max-width: 1024px) {
        width: 80%;
      }
}
