@import "./vars.scss";

html {
    font-family: 'Rubik', sans-serif;
}

h1,h2 {
    font-weight: 300;
    font-size: 40px;
    line-height: 52px;
}
h3 {
    font-weight: 300;
    font-size: 30px;
    line-height: 30px;
}
section {
    p {
        font-weight: 300;
        font-size: 20px;
        line-height: 32px;
    }
}
.header__intro {
    color: #fff;
}

.slider__block {
    h4{
        font-weight: 300;
        font-size: 20px;
        line-height: 24px;
        color: $black-text;
    }
    p {
        color: $gray-text;
        font-weight: 300;
        font-size: 15px;
        line-height: 24px;
    }
}